@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgba(64, 91, 67, 100);
    color: rgba(245, 239, 231, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    color: rgba(245, 239, 231, 1);
    display: flex;
    max-width: 80ch;
    padding-inline: 1rem;
    margin-inline: auto;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: center;
}

.navName {
    text-decoration: none;
    color: rgba(245, 239, 231, 1);
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 0.35em 0.1em;
    font-weight: bold;
    font-size: 25px;
}

.navName:hover {
    background-color: rgba(95, 134, 100, 1);
}

nav {
    color: rgba(245, 239, 231, 1);
    justify-content: center;
    align-items: flex-start;
}

.nav-link {
    text-decoration: none;
    color: rgba(245, 239, 231, 1);
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 20px;
}

.nav-link:hover{
    background-color: rgba(95, 134, 100, 1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80ch;
    padding-inline: 1rem;
    margin-inline: auto;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.howdy {
    color: rgba(245, 239, 231, 1);
    font-weight: bold;
    font-size: 5rem;
}

.bold {
    font-weight: bold;
    color:rgba(245, 239, 231, 1);
    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: center;
    padding-bottom: 5rem;
}

.icon {
    fill: rgba(245, 239, 231, 1);
    padding-right: 1em;
}

footer {
    display: flex;
    align-items: flex-start;
    max-width: 80ch;
    padding-inline: 1rem;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: flex-end;
    transition: all 0.3s ease;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease;
}

.right-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 3rem;
}

.footer-top {
    font-weight: bold;
    font-size: larger;
    margin-block: 0.5em;
}

.footer-line {
    margin-block: 0.5em;
}

.footer-link {
    text-decoration: underline;
    color: rgba(245, 239, 231, 1);
}

.btn {
    text-transform: uppercase;
}  

.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  
.zoom-out {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;  
    display: inline-block;  
    color: rgba(245, 239, 231, 1);  
    margin: 20px;  
    width: 180px;  
    height: 50px; 
    border-radius: 10px;  
    position: relative;  
    overflow: hidden;  
    text-decoration: none;  
    text-transform: uppercase;  
    text-align: center;  
    transition: 0.5s;  
    border: none;
}  

.zoom-out:hover {  
    transform: scale(1.1);
}  

.zoom-out--green {  
    background: rgba(95, 134, 100, 1);
} 

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    .left-column {
        order: 1;
    }

    .right-column {
        order: 0;
        /* justify-content: center; */
    }
}